* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

img {
    width: 3rem;
    margin-left: 0.5rem;
    object-fit: cover;
}

.navbar {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem; /* vertically centre */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap; /* comes in next-line if no space available*/
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    width: 18vmin;
    height: 18vmin;
    border-radius: 0.5rem ;
    border: 2px solid black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #081b31;
    color: #fff;
    border-radius: 1rem;
}
/* #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #081b31;
    color: #fff;
    border-radius: 1rem;
} */

#msg {
    color: #081b31;
    font-size: 8vmin;;
}

.msg-container div {
    text-align: center;
    margin-top: 1.5rem;
    /* border: 2px solid black; */
}
#turn, #score {
    font-size: 5vmin;
    color: #fff;
    padding: 0.5rem;
    background-color:#081b31 ;
    border-radius: 1rem;
    margin-left: 35%;
    margin-right: 35%;
}
.br {
    border-right: 0;
}
.bl {
    border-left: 0;
}
.bt {
    border-top: 0;
}
.bb {
    border-bottom: 0;
}
